<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Package manager for TYPO3 Flow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><f:render section="Title" /></title>
    
    <f:base />
    
    <link rel="stylesheet" href="<f:uri.resource path='Css/style.css' />" />
  </head>
  <body>
    <f:flashMessages class="flashmessages" />
    
    <f:render section="Content" />
  </body>
</html>
